
   <!-- header -->
    <header id="site-header" class="fixed-top menu_back">
        <div class="container">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" routerLinkActive="home"><img src="../../../assets/images/EngoTalkLogo.png" height="50px">
                </a>
                <button class="navbar-toggler collapsed" (click)="navbarScroll.toggle()"
                [attr.aria-expanded]="!gfg" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span  class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span  class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" #navbarScroll="ngbCollapse" [(ngbCollapse)]="gfg">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="blog">IELTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="teacher">Teacher</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="student">Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="login">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="signup">Sign Up</a>
                      </li>
                    </ul>
               </div>
                <!-- toggle switch for light and dark theme -->

                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->

