
    <!-- subscribe form section -->
    <section class="w3l-forms-9 text-center pt-5 pb-md-4" id="newsletter">
        <div class="container pt-4">
            <div class="from-text-content mx-auto" style="max-width:700px">
                <h3 class="title-style">Subscribe to get email updates of our latest news</h3>
                <div class="main-midd-2 mt-4">
                    <form action="#url" method="GET" class="d-sm-flex rightside-form">
                        <input type="email" class="form-control" name="email" placeholder="Enter your email">
                        <button class="btn btn-style" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- //subscribe form section -->

    <!-- footer -->
    <footer class="w3l-footer-22 py-5">
        <div class="container py-md-5 py-4">
            <div class="row sub-columns">
                <div class="col-lg-4 col-sm-6 sub-one-left">
                    <h6>About </h6>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
                    <div class="columns-2">
                        <ul class="social">
                            <li><a href="#facebook" title="facebook"><span class="fab fa-facebook-f"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#linkedin" title="linkedin"><span class="fab fa-linkedin-in"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#twitter" title="twitter"><span class="fab fa-twitter"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#google" title="google"><span class="fab fa-google-plus-g"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#instagram" title="instagram"><span class="fab fa-instagram"
                                        aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-sm-0 mt-4 pt-sm-0 pt-3">
                    <h6 class="footer-title-29">Contact Info </h6>
                    <ul class="lists-para-two">
                        <li class="para-footer-li">
                            <span class="fas fa-angle-right mr-2"></span>
                            <p> Food, 10001, 5th
                                Avenue, #06 lane street, NY - 62617.</p>
                        </li>
                        <li> <a href="tel:+1(21) 234 4567"><span class="fas fa-angle-right mr-2"></span>+1(21) 234
                                4567</a></li>
                        <li> <a href="mailto:info@example.com"><span
                                    class="fas fa-angle-right mr-2"></span>info@example.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 sub-two-right mt-lg-0 mt-4">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="index.html"><span class="fas fa-angle-right mr-2"></span>Home</a></li>
                        <li><a href="#about"><span class="fas fa-angle-right mr-2"></span>About</a>
                        </li>
                        <li><a href="#blog"><span class="fas fa-angle-right mr-2"></span>Blog Posts</a>
                        </li>
                        <li><a href="contact.html"><span class="fas fa-angle-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-lg-0 mt-4">
                    <h6>Help & Support</h6>
                    <ul>
                        <li><a href="#live"><span class="fas fa-angle-right mr-2"></span>Live
                                Chart</a></li>
                        <li><a href="#faq"><span class="fas fa-angle-right mr-2"></span>Faq's</a>
                        </li>
                        <li><a href="#support"><span class="fas fa-angle-right mr-2"></span>Support</a>
                        </li>
                        <li><a href="#terms"><span class="fas fa-angle-right mr-2"></span>Terms
                                of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright-footer text-center mt-4">
            <div class="container">
                <div class="columns">
                    <p>&copy; 2021 Salads. All rights reserved. Design by
                        <a href="https://w3layouts.com/" target="_blank"> W3Layouts</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- //copyright -->
    </footer>
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>

