
<!-- team section -->
<section class="w3l-team py-5" id="chefs">
  <div class="container py-md-5 py-4">
      <h3 class="title-style text-center mb-sm-5 mb-4">Our Teachers</h3>
      <div class="row text-center">
          <div class="team-info col-md-3 col-6">
              <div class="column position-relative">
                  <a href="#url"><img src="assets/images/team1.jpg" alt="" class="img-fluid" /></a>
              </div>
              <h4><a href="#team">John Doe </a></h4>    
              <p>Package : $8.00</p>
              <p>Country : Bangladesh</p>
              <p>Type: Personal</p>
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <span class="fab fa-facebook-f"></span>
                          </a>
                          <a class="twitter" href="#url">
                              <span class="fab fa-twitter"></span>
                          </a>
                          <a class="instagram" href="#url">
                              <span class="fab fa-instagram"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="team-info col-md-3 col-6">
              <div class="column position-relative">
                  <a href="#url"><img src="assets/images/team2.jpg" alt="" class="img-fluid" /></a>
              </div>
              <h4><a href="#team">Alexander</a></h4>
              <p>Chef</p>
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <span class="fab fa-facebook-f"></span>
                          </a>
                          <a class="twitter" href="#url">
                              <span class="fab fa-twitter"></span>
                          </a>
                          <a class="instagram" href="#url">
                              <span class="fab fa-instagram"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="team-info col-md-3 col-6 mt-md-0 mt-sm-5 mt-5">
              <div class="column position-relative">
                  <a href="#url"><img src="assets/images/team3.jpg" alt="" class="img-fluid" /></a>
              </div>
              <h4><a href="#team">Martin ker</a> </h4>
              <p>Co-founder</p>
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <span class="fab fa-facebook-f"></span>
                          </a>
                          <a class="twitter" href="#url">
                              <span class="fab fa-twitter"></span>
                          </a>
                          <a class="instagram" href="#url">
                              <span class="fab fa-instagram"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="team-info col-md-3 col-6 mt-md-0 mt-sm-5 mt-5">
              <div class="column position-relative">
                  <a href="#url"><img src="assets/images/team4.jpg" alt="" class="img-fluid" /></a>
              </div>
              <h4><a href="#team">Elizabeth</a></h4>
              <p>Specialist</p>
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <span class="fab fa-facebook-f"></span>
                          </a>
                          <a class="twitter" href="#url">
                              <span class="fab fa-twitter"></span>
                          </a>
                          <a class="instagram" href="#url">
                              <span class="fab fa-instagram"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <hr class="hr">
          <div class="team-info col-md-3 col-6">
              <div class="column position-relative">
                  <a href="#url"><img src="assets/images/team1.jpg" alt="" class="img-fluid" /></a>
              </div>
              <h4><a href="#team">John Doe</a></h4>
              <p>Owner</p>
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <span class="fab fa-facebook-f"></span>
                          </a>
                          <a class="twitter" href="#url">
                              <span class="fab fa-twitter"></span>
                          </a>
                          <a class="instagram" href="#url">
                              <span class="fab fa-instagram"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="team-info col-md-3 col-6">
              <div class="column position-relative">
                  <a href="#url"><img src="assets/images/team2.jpg" alt="" class="img-fluid" /></a>
              </div>
              <h4><a href="#team">Alexander</a></h4>
              <p>Chef</p>
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <span class="fab fa-facebook-f"></span>
                          </a>
                          <a class="twitter" href="#url">
                              <span class="fab fa-twitter"></span>
                          </a>
                          <a class="instagram" href="#url">
                              <span class="fab fa-instagram"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="team-info col-md-3 col-6 mt-md-0 mt-sm-5 mt-5">
              <div class="column position-relative">
                  <a href="#url"><img src="assets/images/team3.jpg" alt="" class="img-fluid" /></a>
              </div>
              <h4><a href="#team">Martin ker</a> </h4>
              <p>Co-founder</p>
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <span class="fab fa-facebook-f"></span>
                          </a>
                          <a class="twitter" href="#url">
                              <span class="fab fa-twitter"></span>
                          </a>
                          <a class="instagram" href="#url">
                              <span class="fab fa-instagram"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="team-info col-md-3 col-6 mt-md-0 mt-sm-5 mt-5">
              <div class="column position-relative">
                  <a href="#url"><img src="assets/images/team4.jpg" alt="" class="img-fluid" /></a>
              </div>
              <h4><a href="#team">Elizabeth</a></h4>
              <p>Specialist</p>
              <div class="team-info">
                  <div class="caption">
                      <div class="social-icons-section text-center">
                          <a class="fac" href="#url">
                              <span class="fab fa-facebook-f"></span>
                          </a>
                          <a class="twitter" href="#url">
                              <span class="fab fa-twitter"></span>
                          </a>
                          <a class="instagram" href="#url">
                              <span class="fab fa-instagram"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- team section -->