<section style="margin-top:100px">
  <div class="container" >
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article *ngIf="blogType=='writing'">
              <h3>{{blogType| uppercase}}</h3>
                <!-- Preview image figure-->
                <div class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></div>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                    <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                    <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                    <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                    <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                    <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
                </section>
            </article>
            <article *ngIf="blogType=='reading'">
              <!-- Preview image figure-->
              <h3>{{blogType| uppercase}}</h3>
              <div class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></div>
              <!-- Post content-->
              <section class="mb-5">
                  <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                  <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                  <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                  <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                  <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                  <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
              </section>
          </article>
          <article *ngIf="blogType=='speaking'">
            <h3>{{blogType| uppercase}}</h3>
            <!-- Preview image figure-->
            <div class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></div>
            <!-- Post content-->
            <section class="mb-5">
                <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
            </section>
        </article>
        <article *ngIf="blogType=='listening'">
          <h3>{{blogType| uppercase}}</h3>
          <!-- Preview image figure-->
          <div class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></div>
          <!-- Post content-->
          <section class="mb-5">
              <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
              <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
              <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
              <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
              <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
              <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
          </section>
      </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->

            <!-- Categories widget-->
            <div class="mb-4">
                <div class="cate_back">Categories</div>
                <div class="">
                    <div class="row">
                        <div class="col-sm-12">
                          <div class="blog_type_list"><a (click)="blogLoad('writing')">Writing</a></div>
                          <div class="blog_type_list"><a (click)="blogLoad('speaking')">Speaking</a></div>
                          <div class="blog_type_list"><a (click)="blogLoad('listening')">Listening</a></div>
                          <div class="blog_type_list"><a (click)="blogLoad('reading')">Reading</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../assets/images/ab1.jpg" width="100" height="100">
                        </div>
                        <div class="col-md-8">
                            <h3>This is title</h3>
                            <p>this is description .... <a href="#">read more.</a></p>
                        </div>
                    </div>
                    <hr class="hr" />
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../assets/images/ab1.jpg" width="100" height="100">
                        </div>
                        <div class="col-md-8">
                            <h3>This is title</h3>
                            <p>this is description .... <a href="#">read more.</a></p>
                        </div>
                    </div>
                    <hr class="hr" />
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../assets/images/ab1.jpg" width="100" height="100">
                        </div>
                        <div class="col-md-8">
                            <h3>This is title</h3>
                            <p>this is description .... <a href="#">read more.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

