<section class="product">
  <div class="container-fluid">
      <div class="slider-wrap">
          <div class="sider-main">



            <div class="item">
              <div class="text">
                <iframe height="250" width="320"
src="https://www.youtube.com/embed/il_t1WVLNxk">
</iframe>
              </div>
            </div>

            <div class="item">
              <div class="text">
                <iframe width="320" height="250" src="https://www.youtube.com/embed/RFimmzu8nTw" title="Top 5 Best FREE STOCK VIDEO Footage Websites" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
            <div class="item">
              <div class="text">
                <iframe width="320" height="250" src="https://www.youtube.com/embed/RFimmzu8nTw" title="Top 5 Best FREE STOCK VIDEO Footage Websites" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>

            <div class="item">
              <div class="text">
                <iframe width="320" height="250" src="https://www.youtube.com/embed/RFimmzu8nTw" title="Top 5 Best FREE STOCK VIDEO Footage Websites" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>

            <div class="item">
              <div class="text">
                <img src="../../assets/images/ab2.jpg" style="height: 150px;">
              </div>
            </div>

          </div>
          <div class="button_area">
          <i class="fa fa-solid fa-angle-left button_prev" appPrev></i>
            <i class="fa fa-solid fa-angle-right button_next" appNext></i>

          </div>
      </div>
  </div>
</section>
